* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-size: 50px;
}

body {
  font-size: .32rem;
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}

.detail_wrap {
  margin: 3% auto auto auto;
  padding: 0.6rem 0.6rem;
  width: 88%;
  max-width: 6.5rem;
  height: 11.7rem;
  opacity: .99;
  background-color: #21456d;
  position: relative;
  border-radius: 0.55rem 0.55rem 0 0.55rem;
}

.detail_wrap img[element="top_left"] {
  width: 0.5rem;
  left: 0;
  top: 0;
  position: absolute;
}

.detail_wrap img[element="top_right"] {
  width: 0.5rem;
  top: 0;
  right: 0;
  position: absolute;
}

#close_btn {
  width: 0.52rem;
  top: .33rem;
  right: .22rem;
  position: absolute;
}

.detail_wrap img[element="bottom_left"] {
  width: .5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.detail_scroll {
  margin-top: 1.8rem;
  width: 100%;
  height: 78%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

#outer {
  width: 5.0rem;
  left: calc((100% - 5rem) / 2);
  top: .3rem;
  position: absolute;
  display: inline-block;
}

#inner {
  width: 1.4rem;
  left: .97rem;
  top: .515rem;
  position: absolute;
  -webkit-animation: my_rotate linear 2s infinite;
  -o-animation: my_rotate linear 2s infinite;
  animation: my_rotate linear 2s infinite;
}

#data_report_img {
  width: 100%;
}

@-webkit-keyframes my_rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@-o-keyframes my_rotate {
  from {
    -o-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

@keyframes my_rotate {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}

.share_section {

}

#share_btn {
  width: 3rem;
  bottom: .34rem;
  right: .38rem;
  position: absolute;
}

.share_section img:last-child {
  width: 3rem;
  position: absolute;
  bottom: -.1rem;
  right: -.1rem;
}

#share_wrap {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  z-index: 9999;
  display: none;
  cursor: pointer;
}

#share_mask {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  filter: alpha(opacity=60);
  opacity: 0.75;
  -moz-opacity: 0.75;
  position: absolute;
}

.share_arrow {
  width: 3.3rem;
  position: absolute;
  right: .3rem;
  top: .1rem;
}

#scroll_tip_arrow{
  z-index: 9999;
  bottom: 1.8rem;
  left: 2.6rem;
  width: 1.3rem;
  position: absolute;
  animation: my_arrow 1.5s infinite;
}

@keyframes my_arrow {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0px, -20px);
    opacity: 0;
  }

}
